
!! The default colors are "nomore":
*.color0: #d7ba7d
*.color1: #d7ba7d
*.color2: #D4D4D4
*.color3: #4EC9B0
*.color4: #608B4E
*.color5: #b5cea8
*.color6: #f44747
*.color7: #d4d4d4
*.color8: #9cdcfe
*.color9: #808080
*.color10: #9cdcfe
*.color11: #9cdcfe
*.color12: #9cdcfe
*.color13: #9cdcfe
*.color14: #9cdcfe
*.color15: #9cdcfe
!! Transparency (0-255):
*.alpha: 220 
!! Set a default font and font size as below:
*.font: hack-10;
